[package]
name = "kvstore"
version = "0.1.0"
edition = "2024"

[dependencies]
tokio = { version = "1", features = ["full"] }
bytes = "1"
thiserror = "2"
serde = { version = "1", features = ["derive"] }
rmp-serde = "1"
anyhow = "1"
